section {
  position: relative;
  min-height: calc(100vh - 98px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(50.22deg, #1c1c1c 36.26%, #08463b 93.28%);
  box-sizing: border-box;

  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
    max-width: 1440px;
    height: 100%;

    .title-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      white-space: nowrap;
      width: 100%;
      max-width: 750px;
      height: auto;
      gap: 40px;

      h2 {
        font-family: var(--font-fira);
        font-size: 40px;
        font-weight: 400;
        line-height: 100%;
        color: var(--color-standard);
      }

      h1 {
        font-family: var(--font-karla);
        font-weight: 700;
        font-size: clamp(24px, 6vw, 128px);
        line-height: 100%;
        letter-spacing: -2%;
        font-style: bold;
        color: var(--color-standard);
      }

      .btn-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        max-width: 363px;
        height: 48px;
        margin-top: 40px;
        z-index: 20;

        button {
          padding: 0 24px;
          overflow: hidden;
          border: 1px solid #fff;
          background: transparent;
          border-radius: 100px;
          height: 48px;
          cursor: pointer;

          a {
            display: inline-block;
            position: relative;
            animation: none;
            font-family: var(--font-karla);
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #fff;
            white-space: nowrap;
            transition: border 100ms ease-out, color 100ms ease-out;
            text-decoration: none;
          }

          &:hover {
            border: 1px solid var(--color-main-green);
            color: var(--color-main-green);
          }

          &:hover a {
            animation: slideLoop 3000ms linear infinite;
          }
        }

        .btn-check-work {
          width: 172px;
        }
      }
    }
  }

  @keyframes slideLoop {
    0% {
      transform: translateX(0);
    }

    49% {
      transform: translateX(-100%);
      opacity: 0;
    }

    50% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .side-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 6rem;
    // margin-bottom: 2rem;
    position: absolute;
    bottom: 0;

    .left-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      // height: auto;
      gap: 24px;
      pointer-events: auto;

      .line-left {
        width: 1px;
        height: 224px;
        background-color: var(--color-main-green);
      }

      .navigation-arrow {
        height: 48px;
        width: 30px;
        border-radius: 32px;
        border: 1px solid var(--color-main-green);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-main-green);
        font-family: var(--font-karla);

        .arrow {
          color: #fff;
          animation: arrowBounce 1s ease-in-out infinite;
        }
      }
    }

    .right-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      pointer-events: auto;
      // max-height: 480px;
      height: 480px;
      margin-bottom: unset;
      // z-index: 30;
      position: relative;
      cursor: pointer;

      .mail-contact {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-family: var(--font-karla);
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;

        a {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
        }

        a:hover {
          color: var(--color-main-green);
        }

        .mail-text {
          display: inline-block;
          color: #fff;
        }

      }

      .side-content app-marquee {
        pointer-events: none;
      }


      .contact-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        img {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }

        .mail-icon {
          display: none;
        }
      }

      .line-right {
        width: 1px;
        max-height: 186px;
        height: 100%;
        background-color: #ffffff;
      }
    }

    .contact-icons a img {
      transition: opacity 0.2s ease;
    }

    .right-content-container .contact-icons a:hover .github-icon {
      content: url(../../../assets/icons/GitHub_Hover.png);
      cursor: pointer;
    }

    .right-content-container .contact-icons a:hover .linkedin-icon {
      content: url(../../../assets/icons/Linkedin_Hover.png);
      cursor: pointer;
    }
  }
}

.side-content>* {
  pointer-events: auto;
}

@keyframes arrowBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }
}


@media (min-width: 1440px) {
  section {
    .main-content-wrapper {
      .title-container {
        top: 200px;
        width: 100%;
        gap: 32px;

        h2 {
          font-size: 36px;
        }

        h1 {
          font-size: 85px;
        }
      }
    }

    .side-content {
      padding-inline: 4rem;

      .left-content-container .line-left {
        height: 280px;
      }

      .right-content-container .line-right {
        height: 300px;
      }

      .right-content-container {
        .mail-contact {
          font-size: 17px;
        }

        .contact-icons img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  section {
    min-height: calc(100vh - 75px);
    .main-content-wrapper {
      .title-container {
        top: 100px;
        width: 100%;
        gap: 18px;

        h2 {
          font-size: 28px;
        }

        h1 {
          font-size: 84px;
        }
      }

      .side-content {
        margin-top: 1rem;
        display: flex;
        width: 100%;
        gap: 16px;
        padding-inline: 2rem;


        .left-content-container .line-left {
          height: 240px;
        }

        .right-content-container .line-right {
          height: 220px;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  section {
    flex-direction: column;

    .main-content-wrapper {
      flex-direction: column;
      align-items: center;

      .title-container {
        top: 200px;
        width: 100%;
        text-align: center;
        gap: 20px;

        h2 {
          font-size: 32px;
        }

        h1 {
          font-size: 64px;
        }

        .btn-title-container {
          button {
            width: 180px;
            height: 48px;

            a {
              font-size: 16px;
            }
          }
        }
      }
    }

    .side-content {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      gap: 16px;

      .left-content-container .line-left {
        height: 300px;
      }

      .right-content-container .line-right {
        height: 180px;
      }

      .right-content-container {
        height: auto;
        gap: 6px;
        margin-bottom: unset;

        .mail-contact {
          font-size: 16px;
        }

        .mail-contact {
          writing-mode: horizontal-tb;
          transform: none;

          .mail-text {
            display: none;
          }
        }

        .contact-icons img {
          width: 100%;
          height: 24px;
        }

       .contact-icons .mail-icon {
          display: inline-block;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  section {
    .main-content-wrapper {
      .title-container {
        h2 {
          font-size: 24px;
        }

        h1 {
          font-size: 40px;
        }
      }
    }
  }

  section {
    .main-content-wrapper {
      .side-content {
        padding-inline: 3rem;
      }

      .left-content-container .line-left {
        height: 240px;
      }

      .right-content-container .line-right {
        height: 180px;
      }
    }
  }
}

@media(max-width: 560px) {
  section {
    .main-content-wrapper {
      .side-content {
        padding-inline: 1rem;
        .left-content-container .line-left {
          height: 180px;
        }

        .right-content-container .line-right {
          height: 140px;
        }
      }
    }
  }
}

@media(max-width: 425px) {

  section {
    .side-content {
      padding-inline: 2rem;
    }

    .main-content-wrapper {
      .title-container {
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 24px !important;
        }

        h1 {
          font-size: 32px !important;
          line-height: 110%;
        }
      }

      .btn-title-container {
        gap: 6px;

        button {
          width: auto !important;
          height: 48px;

          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  section {
    .main-content-wrapper {
      .side-content {
        padding-inline: 1rem;
        .left-content-container .line-left {
          height: 100px;
        }

        .right-content-container .line-right {
          height: 85px;
        }
      }
    }
  }
}

@media(max-width: 375px) {

  .btn-title-container {
    gap: 6px !important;

    button {
      width: 100%;
    }
  }

  .left-content-container .line-left {
    height: 224px;
  }
}