section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(50.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-family: var(--font-fira);
        font-size: 40px;
        font-weight: 400;
        line-height: 100%;
        color: var(--color-standard);
    }
    h1 {
        font-family: var(--font-karla);
        font-weight: 700;
        font-size: 128px;
        line-height: 100%;
        letter-spacing: -2%;
        font-style: bold;
        color: var(--color-standard);
    }
}



