<section id="landingPage">
    <div class="main-content-wrapper">
        <div class="title-container">
            <h2>Frontend Developer</h2>
            <h1>Alexander Schöfer</h1>
            <div class="btn-title-container">
                <button class="btn-check-work"><a href="#projects">{{'START-BTNS.WORK' | translate}}</a></button>
                <button class="btn-contact"><a href="#contact">{{'START-BTNS.CONTACT' | translate}}</a></button>
            </div>
        </div>

        <div class="side-content">
            <div class="left-content-container">
                <div class="navigation-arrow">
                    <span class="arrow">&#8595;</span>
                </div>
                <div class="line-left"></div>
            </div>
            <app-marquee></app-marquee>
            <div class="right-content-container">
                <div class="mail-contact">
                    <a href="mailto:contact@alexander-schoefer.de" class="mail-text">contact&#64;alexander-schoefer.de</a>
                    <a href="mailto:contact@alexander-schoefer.de" class="mail-icon">
                        <img src="./assets/icons/mail-icon.png" alt="Mail Icon">
                    </a>
                </div>
                <div class="contact-icons">
                    <a href="https://github.com/alexschoefer" target="_blank">
                        <img class="github-icon" src="./assets/icons/Github.png" alt="github">
                    </a>
                    <a href="https://www.linkedin.com/in/alexander-schöfer-379352161/" target="_blank">
                        <img class="linkedin-icon" src="./assets/icons/Linkedin.png" alt="linkedin">
                    </a>
                </div>
                <div class="line-right"></div>
            </div>
        </div>
    </div>
</section>