section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(50.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 380px;
        gap: 12px;
        left: 343px;
        h2 {
            font-family: var(--font-fira);
            font-size: 40px;
            font-weight: 400;
            line-height: 100%;
            color: var(--color-standard);
        }
        h1 {
            font-family: var(--font-karla);
            font-weight: 700;
            font-size: 128px;
            line-height: 100%;
            letter-spacing: -2%;
            font-style: bold;
            color: var(--color-standard);
        }
    }
    .btn-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        max-width: 363px;
        height: 48px;
        margin-top: 40px;
        button {
            padding: 0 24px 0 24px;
            overflow: hidden; 
            border: 1px solid #FFFFFF;
            background: transparent;
            border-radius: 100px;
            height: 48px;
            font-family: var(--font-karla);
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #FFFFFF;
            white-space: nowrap;
            cursor: pointer;
            transition: border 100ms ease-out, color 100ms ease-out;
            &:hover{
                border: 1px solid var(--color-main-green);
                color: var(--color-main-green);
            }
        }
        .btn-check-work {
            width: 172px;
        }
    }

}



