section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(50.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;

    .main-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        height: 100%;

        .title-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: absolute;
            white-space: nowrap;
            top: 380px;
            width: 755px;
            height: 216px;
            gap: 40px;


            h2 {
                font-family: var(--font-fira);
                font-size: 40px;
                font-weight: 400;
                line-height: 100%;
                color: var(--color-standard);
            }

            h1 {
                font-family: var(--font-karla);
                font-weight: 700;
                font-size: 128px;
                line-height: 100%;
                letter-spacing: -2%;
                font-style: bold;
                color: var(--color-standard);
            }
        }
    }

    .btn-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        max-width: 363px;
        height: 48px;
        margin-top: 40px;
        z-index: 20;

        button {
            padding: 0 24px;
            overflow: hidden;
            border: 1px solid #fff;
            background: transparent;
            border-radius: 100px;
            height: 48px;
            cursor: pointer;

            a {
                display: inline-block;
                position: relative;
                animation: none;
                font-family: var(--font-karla);
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: #fff;
                white-space: nowrap;
                transition: border 100ms ease-out, color 100ms ease-out;
                text-decoration: none;
            }

            &:hover {
                border: 1px solid var(--color-main-green);
                color: var(--color-main-green);
            }

            &:hover a {
                animation: slideLoop 3000ms linear infinite;
            }
        }

        .btn-check-work {
            width: 172px;
        }
    }

    @keyframes slideLoop {
        0% {
            transform: translateX(0);
        }

        49% {
            transform: translateX(-100%);
            opacity: 0;
        }

        50% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

}

.side-content {
    position: fixed;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    margin-inline: 0;
    padding-inline: 6rem;
    gap: 0;

    .left-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        pointer-events: auto;

        .line-left {
            width: 1px;
            height: 240px;
            background-color: var(--color-main-green);
        }

        .navigation-arrow {
            height: 48px;
            width: 30px;
            border-radius: 32px;
            border: 1px solid var(--color-main-green);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-main-green);
            font-family: var(--font-karla);

            .arrow {
                color: #fff;
                animation: arrowBounce 1s ease-in-out infinite;
            }
        }
    }

    .right-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        height: 480px;
        pointer-events: auto;
        margin-bottom: 70px;

        .mail-contact {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-family: var(--font-karla);
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            line-height: 120%;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .contact-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            img {
                width: 32px;
                height: 32px;
            }
        }

        .line-right {
            width: 1px;
            height: 186px;
            background-color: #ffffff;
        }
    }
}

.side-content > * {
    pointer-events: auto; /* damit Buttons/Links funktionieren */
}

@keyframes arrowBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(50.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;

    .main-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        height: 900px;

        .title-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: absolute;
            white-space: nowrap;
            top: 380px;
            width: 755px;
            height: 216px;
            gap: 40px;


            h2 {
                font-family: var(--font-fira);
                font-size: 40px;
                font-weight: 400;
                line-height: 100%;
                color: var(--color-standard);
            }

            h1 {
                font-family: var(--font-karla);
                font-weight: 700;
                font-size: 128px;
                line-height: 100%;
                letter-spacing: -2%;
                font-style: bold;
                color: var(--color-standard);
            }
        }
    }

    .btn-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        max-width: 363px;
        height: 48px;
        margin-top: 40px;
        z-index: 20;

        button {
            padding: 0 24px;
            overflow: hidden;
            border: 1px solid #fff;
            background: transparent;
            border-radius: 100px;
            height: 48px;
            cursor: pointer;

            a {
                display: inline-block;
                position: relative;
                animation: none;
                font-family: var(--font-karla);
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: #fff;
                white-space: nowrap;
                transition: border 100ms ease-out, color 100ms ease-out;
                text-decoration: none;
            }

            &:hover {
                border: 1px solid var(--color-main-green);
                color: var(--color-main-green);
            }

            &:hover a {
                animation: slideLoop 3000ms linear infinite;
            }
        }

        .btn-check-work {
            width: 172px;
        }
    }

    @keyframes slideLoop {
        0% {
            transform: translateX(0);
        }

        49% {
            transform: translateX(-100%);
            opacity: 0;
        }

        50% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

}

.side-content {
    position: fixed;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    margin-inline: 0;
    padding-inline: 6rem;
    gap: 0;

    .left-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        pointer-events: auto;

        .line-left {
            width: 1px;
            height: 240px;
            background-color: var(--color-main-green);
        }

        .navigation-arrow {
            height: 48px;
            width: 30px;
            border-radius: 32px;
            border: 1px solid var(--color-main-green);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-main-green);
            font-family: var(--font-karla);

            .arrow {
                color: #fff;
                animation: arrowBounce 1s ease-in-out infinite;
            }
        }
    }

    .right-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        height: 480px;
        pointer-events: auto;
        margin-bottom: 70px;

        .mail-contact {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-family: var(--font-karla);
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            line-height: 120%;

            a {
                text-decoration: none;
                color: inherit;
            }

            :hover {
                color: var(--color-main-green);
            }
        }

        .contact-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            img {
                width: 32px;
                height: 32px;
            }
        }

        .line-right {
            width: 1px;
            height: 186px;
            background-color: #ffffff;
        }
    }
}

.side-content > * {
    pointer-events: auto;
}



@keyframes arrowBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}
