<section>
    <div class="main-content-wrapper">
        <div class="arrow-container">
            <a href="#contact">
                <img src="./assets/icons/arrow_back.png" alt="arrow-back">
            </a>
        </div>
        <div class="headline-container">
            <h1>{{'PRIVACY.HEADLINE' | translate}}</h1>
        </div>
        <div class="privacy-police-wrapper">
            <div class="privacy-police-content">
                <div class="privacy-police-point">
                    <h2>{{'PRIVACY.SECTION1_TITLE' | translate}}</h2>
                    <div class="privacy-police-point">
                        <h3>{{'PRIVACY.SECTION1_SUBTITLE1' | translate}}</h3>
                        <span>{{'PRIVACY.SECTION1_TEXT1' | translate}}</span>
                    </div>
                    <div class="privacy-police-point">
                        <h3>{{'PRIVACY.SECTION1_SUBTITLE2' | translate}}</h3>
                        <ul>
                            <li>{{'PRIVACY.SECTION1_LIST1_ITEM1' | translate}}</li>
                        </ul>
                        <span>
                            {{'PRIVACY.SECTION1_TEXT2' | translate}}
                        </span>
                        <ul>
                            <li>{{'PRIVACY.SECTION1_LIST1_ITEM2' | translate}}</li>
                        </ul>
                        <span>
                            {{'PRIVACY.SECTION1_TEXT3' | translate}}
                        </span>
                        <ul>
                            <li>{{'PRIVACY.SECTION1_LIST1_ITEM3' | translate}}</li>
                        </ul>
                        <span>
                            {{'PRIVACY.SECTION1_TEXT4' | translate}}
                        </span>
                        <ul>
                            <li>{{'PRIVACY.SECTION1_LIST1_ITEM4' | translate}}</li>
                        </ul>
                        <span>
                            {{'PRIVACY.SECTION1_TEXT5' | translate}}
                        </span>
                    </div>
                </div>
                <div class="privacy-police-point">
                    <h2>{{'PRIVACY.SECTION2_TITLE' | translate}}</h2>
                    <p>{{'PRIVACY.SECTION2_TEXT1' | translate}}</p>
                    <h3>{{'PRIVACY.SECTION2_PROVIDER_TITLE' | translate}}</h3>
                    <span>
                        {{'PRIVACY.SECTION2_TEXT2' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION2_LIST_ITEM1' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION2_TEXT3' | translate}}
                    </span>
                </div>
                <div class="privacy-police-point">
                    <h3>{{'PRIVACY.SECTION3_TITLE' | translate}}</h3>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE1' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT1' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE2' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT2_PART1' | translate}} <br> <br>
                        <ul>Alexander Schöfer</ul>
                        <ul>Moosstraße 1</ul>
                        <ul>85391 Allershausen</ul>
                        <ul>{{'PRIVACY.SECTION3_TEXT2_PART2' | translate}}</ul>
                        <ul>E-Mail: contact&#64;alexander-schoefer.de</ul>
                        <br>
                        {{'PRIVACY.SECTION3_TEXT2_PART3' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE3' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT3' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE4' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT4' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE5' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT5' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE6' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT6' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE7' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT7' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE8' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT8' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE9' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT9' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE10' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT10' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE11' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT11' | translate}}
                    </span>
                    <ul>
                        <li>{{'PRIVACY.SECTION3_SUBTITLE12' | translate}}</li>
                    </ul>
                    <span>
                        {{'PRIVACY.SECTION3_TEXT12_PART1' | translate}} <br> <br>
                        {{'PRIVACY.SECTION3_TEXT12_PART2' | translate}} 
                    </span>
                    <span>
                        Quelle: https://www.e-recht24.de
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>