section {
    height: auto;
    width: 100%;
    background: linear-gradient(60.22deg, #1c1c1c 15.26%, #08463b 75.28%);
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    overflow-x: hidden;

    .main-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline: auto;
        padding-inline: 96px;
        max-width: 1440px;
        width: 100%;
        gap: 64px;

        .headline-container {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;

            h1 {
                font-family: var(--font-fira);
                font-weight: 700;
                font-size: 64px;
                line-height: 120%;
                color: var(--color-main-green);
            }
        }

        .privacy-police-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 18px;
            height: auto;

            .privacy-police-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 24px;
                height: auto;

                h2 {
                    font-family: var(--font-karla);
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 120%;
                    color: var(--color-main-green);
                    margin-top: 10px;
                    margin-bottom: 20px;
                }

                .privacy-police-point {
                    max-width: 1050px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
    
                    h3 {
                        font-family: var(--font-karla);
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        color: #fff;
                    }

                    ul {
                        padding-left: 20px;
        
                        li {
                            font-family: var(--font-karla);
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 120%;
                            color: #fff;
                        }
                    }
    
                    span, p {
                        font-family: var(--font-karla);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                        color: var(--color-main-green);
                        max-width: 1050px;
                        width: 100%;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                    }

                }
            }
        }
    }
}


@media (max-width: 1440px) {
    section {
        .main-content-wrapper {
            padding-inline: 64px;
            width: 100%;
        }

        .privacy-police-point {
            width: 100%;

            span {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1024px) {
    section {
        padding-top: 6rem;
        width: 100%;

        .main-content-wrapper {
            padding-inline: 48px;
            gap: 48px;

            h1 {
                font-size: 48px;
            }
        }

        .arrow-container {
            display: none;
        }

        .privacy-police-content {
            gap: 20px;

            .privacy-police-point {
                gap: 14px;

                h2 {
                    font-size: 18px;
                }

                span,
                ul li {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section {
        .main-content-wrapper {
            padding-inline: 32px;

            h1 {
                font-size: 40px;
            }
        }

        .arrow-container {
            display: block;
            cursor: pointer;
        }

        .privacy-police-content {
            .privacy-police-point {
                gap: 12px;

                h2 {
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    section {
        padding-top: 5rem;

        .main-content-wrapper {
            padding-inline: 24px;
            gap: 40px;

            .headline-container h1 {
                font-size: 32px;
            }
        }

        .privacy-police-content {
            gap: 18px;

            ul {
                padding-left: 20px;
            }

            .privacy-police-point {
                gap: 10px;

                h2 {
                    font-size: 16px;
                }

                span,
                ul li {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    section {
        .main-content-wrapper {
            padding-inline: 16px;
            width: 100%;

            .headline-container h1 {
                font-size: 28px;
            }
        }

        .privacy-police-content {
            gap: 16px;

            .privacy-police-point {
                gap: 8px;

                h2 {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    section {
        padding-top: 4rem;

        .main-content-wrapper {
            padding-inline: 12px;

            .headline-container h1 {
                font-size: 24px;
            }
        }

        .privacy-police-content {
            gap: 14px;

            .privacy-police-point {
                h2 {
                    font-size: 14px;
                }

                span,
                ul li {
                    font-size: 16px;
                }
            }
        }
    }
}