<section *ngIf="project && descriptionLoaded">
    <div class="project-overlay">
        <div class="project-close-btn-container">
            <img src="../../assets/icons/close_icon_small.png" alt="close" (click)="onClose()">
        </div>
        <div class="project-overlay-content">
            <div class="project-container">
                <div>
                    <h1>{{ project.projectID }}</h1>
                </div>
                <div>
                    <h2>{{ project.projectName }}</h2>
                </div>

                <div class="project-description">
                    <span>{{ 'PROJECT.HEADLINE' | translate }}</span>
                    <span class="project-description-content">{{ descriptionText }}</span>
                </div>

                <div class="project-technologies-container">
                    <div class="tech" *ngFor="let tech of project.technologies">
                      <img [src]="tech.icon" [alt]="tech.name">
                      <span>{{ tech.name }}</span>
                    </div>
                  </div>
                  
                <div class="project-overlay-btn-container">
                    <a [href]="project.gitHublink" target="_blank">
                        <button>
                            <span>GitHub</span>
                            <img src="../../assets/icons/arrow_outward_project-overlay.png" alt="">
                        </button>
                    </a>

                    <a [href]="project.liveLink" target="_blank">
                        <button *ngIf="project.liveLink">
                            <span>Live Test</span>
                            <img src="../../assets/icons/arrow_outward_project-overlay.png" alt="">
                        </button>
                    </a>
                </div>
            </div>

            <div class="project-screen-container">
                <img [src]="project.imageOverlay" [alt]="project.projectName">
            </div>
        </div>

        <div class="next-project" (click)="onNext()">
            <button>{{ 'PROJECT.NEXT' | translate }}</button>
            <img src="../../assets/icons/arrow_forward_hover.png" alt="next">
        </div>
    </div>
</section>