<section>
    <div class="project-overlay">
        <div class="project-close-btn-container">
            <img src="../../assets/icons/close_icon_small.png" alt="">
        </div>
        <div class="project-overlay-content">
            <div class="project-container">
                <div>
                    <h1>01</h1>
                </div>
                <div>
                    <h2>Join</h2>
                </div>
                <div class="project-description">
                    <span>What is this project about?</span>
                    <span class="project-description-content">Task manager inspired by the Kanban System. Create and
                        organize tasks using drag and drop functions, assign users and categories.</span>
                </div>
                <div class="project-technologies-container">
                    <div class="project-technologies">
                        <img src="../../assets/icons/css-icon.png" alt="">
                        <span>CSS</span>
                    </div>
                </div>
                <div class="project-overlay-btn-container">
                    <button>
                        <span>GitHub</span>
                        <img src="../../assets/icons/arrow_outward_project-overlay.png" alt="">
                    </button>
                    <button>
                        <span>Live Test</span>
                        <img src="../../assets/icons/arrow_outward_project-overlay.png" alt="">
                    </button>
                </div>
            </div>
            <div class="project-screen-container">
                <img src="../../assets/img/join_mainscreen.png" alt="">
            </div>
        </div>
        <div class="next-project">
            <button>Next project</button>
            <img src="../../assets/icons/arrow_forward_hover.png" alt="">
        </div>
    </div>
</section>