section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-x: hidden;

  &.overlay-active::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 900;
    backdrop-filter: blur(2px);
  }

  .project-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 660px;
    width: 1248px;
    border-radius: 30px;
    border: 1px solid var(--color-main-green);
    background: linear-gradient(50.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    z-index: 1000;
    padding: 6rem 4rem 4rem 4rem;
    overflow-y: auto;

    .project-overlay-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      column-gap: 70px;

      .project-container {
        width: 480px;
        height: 171px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;

        h1 {
          font-family: var(--font-karla);
          font-size: 128px;
          font-weight: 700;
          line-height: 100px;
          letter-spacing: -2%;
          color: var(--color-main-green);
        }

        h2 {
          font-family: var(--font-fira);
          font-size: 64px;
          font-weight: 700;
          line-height: 80px;
          letter-spacing: -2%;
          color: #fff;
          white-space: nowrap;
        }

        .project-description {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 480px;
          height: 115px;

          .project-description-content {
            font-family: var(--font-karla);
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: 0;
            color: #FFFFFF;
            width: 480px;
            height: 66px;
          }

          span {
            font-family: var(--font-fira);
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0;
            color: var(--color-main-green);
          }
        }

        .project-technologies-container {
          width: 480px;
          height: 24px;
          display: flex;
          gap: 16px;
          justify-content: flex-start;
          align-items: center;

          .tech {
            display: flex;
            gap: 10px;
            align-items: center;
            height: auto;

            img {
              width: 24px;
              height: 24px;
            }

            span {
              font-family: var(--font-karla);
              font-size: 16px;
              font-weight: 400;
              line-height: 120%;
              color: #FFFFFF;
            }
          }
        }

        .project-overlay-btn-container {
          display: flex;
          gap: 32px;
          width: 304px;
          height: 48px;

          button {
            display: flex;
            align-items: center;
            gap: 10px;
            width: auto;
            height: 48px;
            border-radius: 100px;
            border: 1px solid #FFFFFF;
            padding-left: 24px;
            padding-right: 24px;
            background: none;
            cursor: pointer;
            white-space: nowrap;

            span {
              font-family: var(--font-karla);
              font-size: 18px;
              font-weight: 400;
              line-height: 120%;
              color: #FFFFFF;
            }

            &:hover span {
              color: var(--color-main-green);
            }

            &:hover {
              border: 1px solid var(--color-main-green);
            }

            &:hover img {
              transform: translateY(-3px);
            }
          }

          img {
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease;
          }

          a {
            text-decoration: none;
          }
        }
      }

      .project-screen-container {
        margin: 40px 48px 32px 48px;
        display: flex;
        justify-content: center;
        width: 350px;
        height: 320px;

        img {
          border-radius: 30px;
        }
      }
    }

    .next-project {
      position: absolute;
      bottom: 32px;
      right: 48px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      width: fit-content;
      height: 40px;
      transition: opacity 0.3s ease;

      button {
        width: 115px;
        height: 22px;
        background: none;
        font-family: var(--font-karla);
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        color: var(--color-main-green);
        white-space: nowrap;
        border: none;
        cursor: pointer;
        padding-right: 8px;
        justify-content: center;
        align-items: center;
      }

      &:hover button {
        color: #FFFFFF;
      }

      &:hover img {
        transform: translateX(6px);
      }
    }

    .project-close-btn-container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      padding-right: 50px;
      cursor: pointer;
      overflow: visible;
      z-index: 10;

      img {
        width: 18px;
        height: 18px;
        transition: transform 0.3s ease;
      }

      &:hover img {
        transform: scale(1.3);
        content: url(../../assets/icons/close_icon_overlay_hover.png);
      }
    }
  }
}

@media (max-width: 1180px) {
  section .project-overlay {
    width: 850px;
    height: auto;
    padding: 4rem 3rem;

    .project-overlay-content {
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;

      .project-container {
        width: 100%;
        gap: 24px;

        h1 {
          font-size: 96px;
          line-height: 80px;
        }

        h2 {
          font-size: 48px;
          line-height: 60px;
        }

        .project-description {
          width: 100%;

          span {
            font-size: 20px;
          }

          .project-description-content {
            font-size: 17px;
            width: 100%;
          }
        }

        .project-technologies-container {
          flex-wrap: wrap;

          .project-technologies {
            img {
              width: 20px;
              height: 20px;
            }

            span {
              font-size: 15px;
            }
          }
        }
      }

      .project-screen-container {
        width: 320px;
        height: 280px;
        margin: 24px 32px;
      }
    }
  }
}

@media (max-width: 1024px) {

  section {
    height: 100%;
  }

  section .project-overlay {
    .project-overlay-content {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: flex-start;
      text-align: center;
      gap: 5px;
      height: 750px;
      margin-bottom: 10px;
    }

    .project-screen-container {
      order: 1;
      margin-bottom: 1.5rem;
      width: 100%;
      justify-content: center;

      img {
        width: 650px;
        height: auto;
        border-radius: 20px;
      }
    }

    .project-container {
      order: 2;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      text-align: center;
      gap: 1.5rem;

      h1 {
        order: 2;
      }

      h2 {
        order: 3;
      }

      .project-description {
        order: 4;
      }

      .project-technologies-container {
        order: 5;
        justify-content: center !important;
      }

      .project-overlay-btn-container {
        order: 6;
      }
    }
  }

  .project-overlay {
    height: auto;
  }
}

@media (max-width: 768px) {
  section .project-overlay {
    width: 700px;
    height: auto;
    padding: 4rem 3rem;
  }

  .project-screen-container {
    order: 1;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;

    img {
      width: 400px;
      height: auto;
      border-radius: 20px;
    }
  }
}

@media(max-width: 425px) {
  section .project-overlay {
    width: 400px;
    height: auto;
    padding: 3rem 2rem;
    margin-bottom: 15px !important;
  }

  .project-screen-container {
    order: 1;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;

    img {
      width: 380px !important;
      height: auto;
    }
  }

  .project-technologies-container {
    width: 300px !important;
  }

  .project-close-btn-container {
    padding-right: 10px !important;
  }

  .next-project {
    bottom: 10px !important;
  }
}

@media(max-width: 390px) {
  section .project-overlay {
    width: 350px;
    padding: 3rem 2rem;
    margin-bottom: 8px !important;
    overflow-x: hidden;
  }

  section .project-overlay {
    .project-overlay-content {
      height: 660px;
    }

    .project-screen-container {
      max-width: 280px;

      img {
        width: 280px !important;
        height: 200px !important;
      }
    }

    .project-container {
      h1 {
        font-size: 56px !important;
      }

      h2 {
        font-size: 36px !important;
      }
    }

    .project-container {
      gap: 8px !important;
      height: auto !important;
    }

    .project-screen-container {
      width: 280px;
      height: 180px !important;
      margin: 12px 16px !important;
    }

    .project-description {
      span {
        font-size: 15px !important;
      }
    }

    .project-technologies-container {
      width: 200px !important;
      white-space: nowrap;
      flex-wrap: wrap !important;
      height: auto;

      .tech {
        gap: 5px !important;
      }
    }
  }

  .project-overlay-btn-container {
    display: flex;
    gap: 16px !important;
    width: 280px !important;
    height: 48px !important;
    margin-top: 80px;

    button {
      gap: 6px !important;
      width: auto;
      height: 40px !important;
      padding-left: 16px !important;
      padding-right: 16px !important;

      span {
        font-size: 15px !important;
      }
    }
  }
}

@media (max-width: 320px) {
  section .project-overlay {
    padding: 1.5rem 0.75rem;
    height: 700px;
    width: 280px !important;

    .project-container {

      h1 {
        font-size: 32px !important;
      }

      h2 {
        font-size: 22px !important;
      }

      .project-description {
        span {
          font-size: 15px;
        }

        .project-description-content {
          font-size: 13px;
        }
      }

      .project-overlay-btn-container {
        gap: 6px;
        justify-content: center !important;
        margin-top: 35px;
        button {
          height: 40px;

          span {
            font-size: 14px;
          }
        }
      }
    }

    .project-technologies-container {
      display: flex !important;
      flex-wrap: wrap !important;
      gap: 10px !important;
      justify-content: center !important;
      width: 100% !important;
      margin-bottom: 5px;
    }

    .project-technologies img {
      margin-right: 4px !important;
    }

    .project-technologies span {
      display: inline-block;
      margin-right: 12px;
      font-size: 13px !important;
      height: auto;
    }

    .project-screen-container img {
      border-radius: 16px !important;
      width: 250px !important;
    }
  }

  .next-project {
    bottom: 8px !important;

    button {
      font-size: 15px !important;
    }
  }
}