<section>
    <div class="main-content-wrapper">
        <div class="portfolio-projects-wrapper">
            <div class="portfolio-headline-container">
                <h3>Portfolio</h3>
                <h2>Featured Projects</h2>
                <span>Explore a selection of my work here - Interact with <br> projects to see my skills in action.</span>
            </div>
            <div class="portfolio-menu-container">
                <div class="project">
                    <span class="project-name">Join</span>
                    <span class="project-technologies">HTML<span>|</span>CSS<span>|</span>JavaScript<span>|</span>Firebase</span>
                </div>
                <div class="project">
                    <span class="project-name">El Pollo Loco</span>
                    <span class="project-technologies">HTML<span>|</span>CSS<span>|</span>JavaScript</span>
                </div>
                <div class="project">
                    <span class="project-name">Pokedex</span>
                    <span class="project-technologies">HTML<span>|</span>CSS<span>|</span>JavaScript</span>
                </div>
            </div>
        </div>
    </div>
</section>
