<section id="projects">
    <div class="main-content-wrapper">
        <div class="portfolio-projects-wrapper">
            <div class="portfolio-headline-container">
                <h3>Portfolio</h3>
                <h2>Featured Projects</h2>
                <span>Explore a selection of my work here - Interact with <br> projects to see my skills in action.</span>
            </div>
            <div class="portfolio-menu-container">
                <div class="project">
                    <span class="project-name">Join</span>
                    <span class="project-technologies">HTML<span>|</span>CSS<span>|</span>JavaScript<span>|</span>Firebase</span>
                    <div class="project-screenshot">
                        <img src="../../../assets/img/join_mainscreen.png" alt="Join project screenshot">
                    </div>
                    <div class="project-screenshot-background">
                        <img src="../../../assets/img/project-screenshot-background.png" alt="Join project screenshot">
                    </div>
                </div>
                <div class="project">
                    <span class="project-name">El Pollo Loco</span>
                    <span class="project-technologies">HTML<span>|</span>CSS<span>|</span>JavaScript</span>
                    <div class="project-screenshot">
                        <img src="../../../assets/img/el_pollo_logo_mainscreen.png" alt="Join project screenshot">
                    </div>
                    <div class="project-screenshot-background">
                        <img src="../../../assets/img/project-screenshot-background.png" alt="Join project screenshot">
                    </div>
                </div>
                <div class="project">
                    <span class="project-name">Pokedex</span>
                    <span class="project-technologies">HTML<span>|</span>CSS<span>|</span>JavaScript</span>
                    <div class="project-screenshot">
                        <img src="../../../assets/img/pokedex_mainscreen.png" alt="Join project screenshot">
                    </div>
                    <div class="project-screenshot-background">
                        <img src="../../../assets/img/project-screenshot-background.png" alt="Join project screenshot">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-project-detail></app-project-detail> 

