section {
  height: 100%;
  width: 100%;
  background: #1c1c1c;
  padding-top: 9rem;

  .main-content-wrapper {
    margin-inline: auto;
    padding-inline: 96px;
    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;

    .portfolio-projects-wrapper {
      max-width: 880px;
      width: 100%;
      display: flex;
      gap: 41px;
      flex-direction: column;
      overflow-x: visible;

      .portfolio-headline-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 622px;
        white-space: nowrap;

        h3 {
          font-family: var(--font-karla);
          font-weight: 500;
          font-size: 24px;
          color: var(--color-main-green);
        }

        h2 {
          font-family: var(--font-fira);
          font-weight: 700;
          font-size: 64px;
          color: var(--color-main-green);
        }

        span {
          width: 456px;
          height: 44px;
          font-family: var(--font-karla);
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          text-align: justify;
          color: #ffffff;
        }
      }

      .portfolio-menu-container {
        display: flex;
        flex-direction: column;
        max-width: 880px;
        height: auto;

        .project {
          position: relative;
          padding: 40px 32px;
          border-top: none; // ❌ kein top-border bei jedem
          border-bottom: 1px solid var(--color-main-green); // ✅ nur unten eine Linie
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .project:first-child {
            border-top: 1px solid var(--color-main-green);
          }

          .project-technologies {
            display: flex;
            justify-content: flex-end;
            gap: 8px;
            width: 354px;
            height: 22px;
            font-family: var(--font-karla);
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #ffffff;

            span {
              font-family: var(--font-karla);
              font-weight: 400;
              font-size: 18px;
              line-height: 120%;
              color: var(--color-main-green);
            }
          }

          .project-name {
            font-family: var(--font-karla);
            font-weight: 700;
            font-style: bold;
            font-size: 24px;
            line-height: 120%;
            color: #ffffff;
          }

          .project-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          .project-screenshot {
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 60px;
            margin-top: 15px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease, transform 0.3s ease;

            img {
              width: 300px;
              height: auto;
              border-radius: 16px;
              object-fit: cover;
              z-index: 10;
            }
          }

          &:hover .project-screenshot {
            opacity: 1;
            transform: translateX(0);
            z-index: 10;
          }

          .project-screenshot-background {
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 100px;
            margin-top: 20px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease, transform 0.3s ease;

            img {
              width: 290px;
              height: 175px;
              border-radius: 16px;
              object-fit: cover;
            }
          }

          &:hover .project-screenshot-background {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .project:first-child {
          border-top: 1px solid var(--color-main-green);
        }
      }
    }
  }
}

.project:hover {
  background-color: #3dcfb64d;
}

.project .project-name::after {
  content: url(../../../assets/icons/arrow_outward.png);
  width: 12px;
  height: 12px;
  margin-left: 8px;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.project:hover .project-name::after {
  opacity: 1;
}

/* === Tablet Landscape (≈1180 px, z. B. iPad Air) === */
@media (max-width: 1440px) {
  section {
    .main-content-wrapper {
      padding-inline: 64px;
    }

    .portfolio-projects-wrapper {
      gap: 32px;

      .portfolio-headline-container {
        width: 100%;

        h2 {
          font-size: 52px;
        }

        span {
          width: 100%;
          font-size: 17px;
        }
      }

      .portfolio-menu-container {
        height: auto;

        .project {
          padding: 32px 24px;

          .project-name {
            font-size: 22px;
          }

          .project-technologies {
            font-size: 16px;
          }

          .project-screenshot,
          .project-screenshot-background {
            display: none;
          }
        }
      }
    }
  }
}

/* === Tablet Portrait (≤1024 px) === */
@media (max-width: 1024px) {
  section {
    .main-content-wrapper {
      padding-inline: 48px;
    }

    .portfolio-projects-wrapper {
      align-items: center;
      text-align: center;
      gap: 48px;

      .portfolio-headline-container {
        width: 100%;
        white-space: normal;
        flex-direction: column;

        h2 {
          font-size: 56px !important;
        }

        span {
          font-size: 16px;
          width: 100%;
        }
      }

      .portfolio-menu-container {
        max-width: 100%;
        height: auto;
        gap: 24px;

        .project {
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 16px;

          .project-technologies {
            justify-content: center;
            font-size: 16px;
          }

          .project-screenshot,
          .project-screenshot-background {
            display: none;
          }
        }
      }
    }
  }
}

/* === Mobile Large (≤768 px) === */
@media (max-width: 768px) {
  section {
    padding: 0 32px;
    height: auto;

    .main-content-wrapper {
      padding-inline: 32px;
      align-items: flex-start;
    }

    .portfolio-headline-container {
      gap: 16px;

      h2 {
        font-size: 40px;
      }

      span {
        font-size: 15px;
      }
    }

    .portfolio-menu-container {
      .project {
        padding: 24px 0;

        .project-name {
          font-size: 20px;
        }

        .project-technologies {
          font-size: 15px;
        }
      }
    }
  }
}

/* === Mobile Small (≤480 px) === */
@media (max-width: 480px) {
    section#projects {
      padding-top: 6rem !important;
      padding-bottom: 6rem;
      height: auto !important;  
    }

    section#projects .main-content-wrapper {
      padding-inline: 16px !important;
    }

    section#projects .portfolio-projects-wrapper {
      align-items: flex-start !important;
    }

    section#projects .portfolio-headline-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      text-align: left !important;
      gap: 12px !important;
      width: 100%;
      margin-bottom: 20px;

      h3 {
        font-size: 22px;
        color: var(--color-main-green);
      }

      h2 {
        font-size: 40px;
        line-height: 110%;
        text-align: left;
        white-space: normal; 
        width: auto;
      }

      span {
        display: block;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        max-width: 100%;
        white-space: normal;
        overflow-wrap: break-word;    
        word-break: break-word;
      }
    }

    section#projects .portfolio-menu-container .project {
      padding: 16px 0;
      flex-direction: column;
      align-items: flex-start !important;
      width: auto;

      .project-name {
        font-size: 24px !important;
      }

      .project-technologies {
        font-size: 16px !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 3px;
      }
    }
  }

/* === Mobile Extra Small (≤320 px) === */
@media (max-width: 320px) {
  section {
    .main-content-wrapper {
      padding-inline: 12px;
    }

    .portfolio-headline-container {
      margin-bottom: 20px;
      h2 {
        font-size: 26px !important;
      }

      span {
        font-size: 15px !important;
      }
    }

    .portfolio-menu-container {
      .project {
        padding: 16px 0;

        .project-name {
          font-size: 16px;
        }

        .project-technologies {
          font-size: 12px;
        }
      }
    }
  }
}