section {
    width: 1920px;
    height: 100vh;
    max-width: 100%;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    .about-me-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 96px;
        right: 96px;
    }
    img {
        width: 568px;
        height: 569px;
    }

    h3 {
        font-family: var(--font-karla);
        font-weight: 500;
        font-size: 24px;
        font-style: medium;
        line-height: 100%;
        color: var(--color-main-green)
    }

    h2 {
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: 64px;
        font-style: bold;
        line-height: 100%;
        letter-spacing: -3%;
        color: var(--color-main-green);
    }

    .about-me-content {
        max-width: 568px;
        height: 540px;
        border-radius: 30px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        border: 1px solid var(--color-main-green);
        background: radial-gradient(circle, #08463B4D 30%, #1C1C1C 100%);

        span {
            font-family: var(--font-karla);
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            text-align: justify;
            color: #FFFFFF;
        }
    }

    .about-me-container {
        width: 568px;
        height: 588px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .photo-container {
        display: flex;
        .profil-photo {
            display: flex;
            z-index: 5;
            position: absolute;
            left: 120px;
            bottom: 100px;
        }
    }

    .highlight-container {
        display: flex;
        flex-direction: column;
        width: 504px;
        height: 252px;
        gap: 20px;

        .highlight-content {
            width: 519px;
            height: 44px;
            display: flex;
            gap: 24px;

            img {
                width: 24px;
                height: 24px;
            }
        }


    }
}