<section id="about">
    <div class="main-content-wrapper">
        <div class="about-me-wrapper">
            <div class="photo-container">
                <img class="background-profil-img" src="../../../assets/img/photo-background.png" alt="">
                <img class="profil-photo" src="../../../assets/img/profil-photo.jpeg" alt="">
            </div>
            <div class="about-me-container">
                <h3>{{ 'ABOUT.WHO_I_AM' | translate }}</h3>
                <div class="about-me-content">
                    <h2>{{ 'ABOUT.HEADER' | translate }}</h2>
                    <span>{{ 'ABOUT.DESCRIPTION' | translate }}</span>
                    <div class="highlight-container">
                        <div class="highlight-content">
                            <img src="../../../assets/icons/location.png" alt="">
                            <span>{{ 'ABOUT.LOCATION' | translate }}</span>
                        </div>
                        <div class="highlight-content">
                            <img src="../../../assets/icons/cognition.png" alt="">
                            <span>{{ 'ABOUT.MOTIVATION' | translate }}</span>
                        </div>
                        <div class="highlight-content">
                            <img src="../../../assets/icons/new_releases.png" alt="">
                            <span>{{ 'ABOUT.PROBLEM_SOLVING' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>