section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 100%;
    padding: 0 96px 0 96px;
    background: linear-gradient(60.22deg, #1c1c1c 15.26%, #08463b 75.28%);

    .menu-content {
        display: flex;
        gap: 24px;
        width: 100%;
        height: 28px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

}

.menu-navigation {
    display: flex;
    gap: 24px;
    width: 310px;
    height: 26px;

    a {
        text-decoration: none;
        font-family: var(--font-fira);
        white-space: nowrap;
        height: 26px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -3%;
        color: var(--color-main-white);
        margin-top: 3px;
    }
}

.language-selection {
    display: flex;
    width: 84px;
    height: 28px;
    border-radius: 100px;
    border: 1px solid var(--color-main-green);
    .btn-language-en {
        border-radius: 100px;
        max-height: 28px;
        padding: 0 12px 0 12px;
        font-family: var(--font-fira);
        font-size: 16px;
        font-weight: 700;
        color: var(--color-main-white);
        background-color: var(--color-main-green);
        border: none;
    }
    .btn-language-de {
        border-radius: 100px;
        max-height: 28px;
        padding: 0 8px 0 12px;
        font-family: var(--font-fira);
        font-size: 16px;
        font-weight: 400;
        color: #3DCFB680;
        border: none;
        cursor: pointer;
        background: transparent;
    }
}