section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 100%;
    padding: 0 96px 0 96px;
    background: linear-gradient(60.22deg, #1c1c1c 15.26%, #08463b 75.28%);

    .menu-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: 98px;
        margin-inline: auto;
        padding-inline: 96px;

        .left-group {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        .logo-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            height: 48px;

            .letter-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0;
                line-height: 1;
            }

            .firstNameLetter,
            .lastNameLetter {
                font-family: var(--font-fira);
                color: var(--color-main-green);
                font-size: 42px;
                font-weight: 700;
                line-height: 1;
                padding: 0;
                margin: 0;
                display: block;
            }

            .firstNameLetter {
                transform: rotate(90deg);
                display: block;
                margin-bottom: -10px;
            }

            .lastNameLetter {
                margin-top: -8px;
            }

            .fullname-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 120px;
                padding-top: 8px;

                span {
                    text-decoration: none;
                    font-family: var(--font-fira);
                    font-weight: 700;
                    font-style: bold;
                    font-size: 24px;
                    color: #FFFFFF;
                    line-height: 120%;
                }
            }
        }
    }
}

.menu-navigation a {
    position: relative;
    text-decoration: none;
    color: var(--color-main-white);
    padding-bottom: 4px;
}

.menu-navigation a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-main-green);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-navigation a:hover {
    color: var(--color-main-green); /* Text grün */
  }

.menu-navigation a:hover::after {
    opacity: 1;
    transform: translateX(-50%) scale(1.2);
}

.menu-navigation {
    display: flex;
    gap: 24px;
    width: 310px;
    height: 26px;

    a {
        text-decoration: none;
        font-family: var(--font-fira);
        white-space: nowrap;
        height: 26px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -3%;
        color: var(--color-main-white);
        margin-top: 3px;
    }
}

.language-selection {
    display: flex;
    width: 84px;
    height: 28px;
    border-radius: 100px;
    border: 1px solid var(--color-main-green);

    .btn-language-en {
        border-radius: 100px;
        max-height: 28px;
        padding: 0 12px 0 12px;
        font-family: var(--font-fira);
        font-size: 16px;
        font-weight: 700;
        color: var(--color-main-white);
        background-color: var(--color-main-green);
        border: none;
    }

    .btn-language-de {
        border-radius: 100px;
        max-height: 28px;
        padding: 0 8px 0 12px;
        font-family: var(--font-fira);
        font-size: 16px;
        font-weight: 400;
        color: #3DCFB680;
        border: none;
        cursor: pointer;
        background: transparent;
    }
}