section {
  height: 695px;
  width: 100%;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;

  .skills-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    max-width: 1440px;
    width: 100%;
  }

  .skills-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-family: var(--font-karla);
      font-weight: 500;
      font-size: 24px;
      color: var(--color-main-green);
    }

    .skills-set-container {
      max-width: 520px;
      border-radius: 30px;
      border: 1px solid var(--color-main-green);
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      background: radial-gradient(circle, #08463B4D 30%, #1C1C1C 100%);

      h2 {
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: 64px;
        color: var(--color-main-green);
      }

      span {
        font-family: var(--font-karla);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: justify;
        color: #fff;
      }

      .another-skill {
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        width: auto;

        span {
          font-family: var(--font-fira);
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          color: var(--color-main-green);
        }
      }

      .btn-contact-container {
        display: flex;
        justify-content: flex-start;
        width: auto;
        gap: 10px;
        height: 48px;

        .btn-contact {
          width: auto;
          padding: 0 24px;
          overflow: hidden;
          border: 1px solid #fff;
          background: transparent;
          border-radius: 100px;
          height: 48px;
          cursor: pointer;
          transition: border 100ms ease-out, color 100ms ease-out;

          &:hover {
            border: 1px solid var(--color-main-green);
            color: var(--color-main-green);
          }
        }

        a {
          display: inline-block;
          position: relative;
          animation: none;
          font-family: var(--font-karla);
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: #fff;
          white-space: nowrap;
          text-decoration: none;
        }


        &:hover span {
          animation: slideLoop 3000ms linear infinite;
        }
      }
    }
  }

  .skills-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 72px;
    justify-items: center;
    max-width: 632px;
    height: 428px;
    padding-top: 48px;

    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;
      position: relative;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
      }

      span {
        font-family: var(--font-fira);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #fff;
      }
    }
  }
}

.skills img:hover {
  transform: scale(1.2); 
  opacity: 0.9;
}


@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }

  49% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}