section {
    height: 100vh;
    width: 1920px;
    max-width: 100%;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1896px;
    

    .skills-wrapper {
        width: 1440px;
        height: 551px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        gap: 20px;
        left: 96px;


        .skills-set-container {
            max-width: 520px;
            height: 503px;
            border-radius: 30px;
            border: 1px solid var(--color-main-green);
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            background: radial-gradient(circle, #08463B4D 30%, #1C1C1C 100%);

            span {
                font-family: var(--font-karla);
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                text-align: justify;
                color: #FFFFFF;
            }

        }
    }

    .skills-overview {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 48px 72px;
        max-width: 632px;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
        align-items: start;
        margin-top: 40px;
        position: absolute;
        left: 712px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;

        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }

        span {
            font-family: var(--font-fira);
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #FFFFFF;
        }
    }

    h3 {
        font-family: var(--font-karla);
        font-weight: 500;
        font-size: 24px;
        font-style: medium;
        line-height: 100%;
        color: var(--color-main-green)
    }

    h2 {
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: 64px;
        font-style: bold;
        line-height: 100%;
        letter-spacing: -3%;
        color: var(--color-main-green);
    }

}

.btn-contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    max-width: 122px;
    height: 48px;

    button {
        padding: 0 24px;
        overflow: hidden;
        border: 1px solid #fff;
        background: transparent;
        border-radius: 100px;
        height: 48px;
        font-family: var(--font-karla);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #fff;
        white-space: nowrap;
        cursor: pointer;
        transition: border 100ms ease-out, color 100ms ease-out;
        margin-bottom: 30px;

        span {
            display: inline-block;
            position: relative;
            animation: none;
        }

        &:hover {
            border: 1px solid var(--color-main-green);
            color: var(--color-main-green);
        }

        &:hover span {
            animation: slideLoop 3000ms linear infinite;
        }
    }
}

@keyframes slideLoop {
    0% {
        transform: translateX(0);
    }

    49% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

