section {
  height: auto;
  min-height: 695px;
  width: 100%;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .skills-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    max-width: 1440px;
    width: 100%;
  }

  .skills-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-family: var(--font-karla);
      font-weight: 500;
      font-size: 24px;
      color: var(--color-main-green);
    }

    .skills-set-container {
      max-width: 520px;
      border-radius: 30px;
      border: 1px solid var(--color-main-green);
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      background: radial-gradient(circle, #08463b4d 30%, #1c1c1c 100%);

      h2 {
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: 64px;
        color: var(--color-main-green);
      }

      span {
        font-family: var(--font-karla);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: justify;
        color: #fff;
      }

      .another-skill {
        font-family: var(--font-fira);
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        width: auto;

        span {
          font-family: var(--font-fira);
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          color: var(--color-main-green);
        }
      }

      .btn-contact-container {
        display: flex;
        justify-content: flex-start;
        width: auto;
        gap: 10px;
        height: 48px;

        .btn-contact {
          width: auto;
          padding: 0 24px;
          overflow: hidden;
          border: 1px solid #fff;
          background: transparent;
          border-radius: 100px;
          height: 48px;
          cursor: pointer;
          transition: border 100ms ease-out, color 100ms ease-out;

          &:hover {
            border: 1px solid var(--color-main-green);
            color: var(--color-main-green);
          }

          &:hover a {
            animation: slideLoop 3000ms linear infinite;
          }
        }

        a {
          display: inline-block;
          position: relative;
          animation: none;
          font-family: var(--font-karla);
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: #fff;
          white-space: nowrap;
          text-decoration: none;
        }

        &:hover span {
          animation: slideLoop 3000ms linear infinite;
        }
      }
    }
  }

  .skills-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 72px;
    justify-items: center;
    max-width: 632px;
    height: auto;
    padding-top: 48px;

    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;
      position: relative;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        transition: transform 150ms ease-in, opacity 150ms ease-in;
      }

      span {
        font-family: var(--font-fira);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #fff;
      }
    }
  }
}

.skills img:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1440px) {
  section {
    padding: 0 64px;
    height: auto;

    .skills-layout {
      gap: 48px;
    }

    .skills-set-container {
      h2 {
        font-size: 52px;
      }
      span {
        font-size: 17px;
      }
    }

    .skills-overview {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px 60px;
      padding-top: 32px;

      .skills img {
        width: 55px;
        height: 55px;
      }
    }
  }
}

@media (max-width: 1024px) {
  section {
    // padding: 0 48px;
    height: auto;

    .skills-layout {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 64px;
      text-align: center;
    }

    .skills-wrapper {
      align-items: center;
    }

    .skills-set-container {
      max-width: 100%;
      padding: 28px;
      gap: 32px;

      h2 {
        font-size: 48px;
      }
      span {
        font-size: 16px;
      }
      .another-skill {
        font-size: 22px;
        span {
          font-size: 22px;
        }
      }
    }

    .skills-overview {
      grid-template-columns: repeat(3, 1fr);
      gap: 36px 48px;

      .skills img {
        width: 50px;
        height: 50px;
      }

      .skills span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 32px;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .skills-layout {
      gap: 48px;
    }

    .skills-set-container {
      padding: 24px;

      h2 {
        font-size: 40px !important;
      }

      .skill-description-span {
        font-size: 16px !important;
      }

      .another-skill {
        font-size: 20px !important;
        span {
          font-size: 20px !important;
        }
      }
    }

    .skills-overview {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 40px;

      .skills img {
        width: 45px;
        height: 45px;
      }

      .skills span {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 480px) {
  section {
    padding: 0 20px;
    height: auto !important;
    
    .skills-wrapper {
      justify-content: flex-start;
      align-items: flex-start;

      h3 {
        font-size: 18px;
      }
    }

    .skills-set-container {
      padding-inline: 16px !important;
      gap: 24px;
      max-width: 380px !important;

      h2 {
        font-size: 48px !important;
        line-height: 80%;
        white-space: nowrap;
      }

      .another-skill {
        font-size: 18px;
        span {
          font-size: 18px;
        }
      }

      .btn-contact-container {
        justify-content: center;
      }
    }

    .skills-overview {
      grid-template-columns: repeat(2, 1fr);
      gap: 28px 32px;

      .skills img {
        width: 40px;
        height: 40px;
      }

      .skills span {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 320px) {
  section {
    padding: 0 12px;
    height: auto !important;

    .skills-set-container {
      padding: 16px;
      h2 {
        font-size: 26px !important;
      }
      span {
        font-size: 13px;
      }
      .another-skill {
        font-size: 16px;
        span {
          font-size: 16px;
        }
      }
    }

    .skills-overview {
      grid-template-columns: 1fr 1fr;
      gap: 24px 24px;

      .skills img {
        width: 36px;
        height: 36px;
      }

      .skills span {
        font-size: 16px;
      }
    }
  }
}
