<section id="skills">
    <div class="main-content-wrapper">
        <div class="skills-layout">
            <div class="skills-wrapper">
                <h3>{{'SKILLS.TITLE' | translate}}</h3>
                <div class="skills-set-container">
                    <h2>{{'SKILLS.SUBTITLE' | translate}}</h2>
                    <span class="skill-description-span">{{'SKILLS.DESCRIPTION' | translate}}</span>
                    <span class="another-skill">
                        {{ 'SKILLS.ANOTHER_SKILL_PART1' | translate }}
                        <span>{{ 'SKILLS.ANOTHER_SKILL_PART2' | translate }}</span>
                    </span>
                    <span class="skill-description-span">{{'SKILLS.CONTACT_HINT' | translate}}</span>
                    <div class="btn-contact-container">
                        <button class="btn-contact"><a href="#contact">{{'SKILLS.BUTTON' | translate}}</a></button>
                    </div>
                </div>
            </div>

            <div class="skills-overview">
                    <div class="skills">
                        <img src="../../../assets/icons/HTML.png" alt="">
                        <span>HTML</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/CSS.png" alt="">
                        <span>CSS</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Javascript.png" alt="">
                        <span>Javascript</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Material-Design.png" alt="">
                        <span>Material Design</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Typescript.png" alt="">
                        <span>TypeScript</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Angular.png" alt="">
                        <span>Angular</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Firebase.png" alt="">
                        <span>Firebase</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/git.png" alt="">
                        <span>Git</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Api.png" alt="">
                        <span>REST-API</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/scrum.png" alt="">
                        <span>Scrum</span>
                    </div>
                    <div class="skills">
                        <img src="../../../assets/icons/Growth mindset.png" alt="">
                        <span>Growth mindset</span>
                    </div>
            </div>
        </div>
    </div>

</section>