<section>
    <div>
        
    </div>
    <div class="skills-wrapper">
        <div>
            <h3>Technologies</h3>
        </div>
        <div class="skills-set-container">
            <h2>Skill Set</h2>
            <span>A short introduction of your skills. Highlight your experience of using different front-end
                technologies and emphasise your openness to learning and adapting to new technologies. Show how
                important it is for you to keep up with the rapid changes in web development.</span>
            <span>You need another skill?</span>
            <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
            <div class="btn-contact-container">
                <button class="btn-contact"><span>Let´s Talk</span></button>
            </div>
        </div>
    </div>
    <div class="skills-overview">
        <div class="skills">
            <img src="../../../assets/icons/HTML.png" alt="">
            <span>HTML</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/CSS.png" alt="">
            <span>CSS</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/Javascript.png" alt="">
            <span>Javascript</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/Material-Design.png" alt="">
            <span>Material Design</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/Typescript.png" alt="">
            <span>TypeScript</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/Angular.png" alt="">
            <span>Angular</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/Firebase.png" alt="">
            <span>Firebase</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/git.png" alt="">
            <span>Git</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/Api.png" alt="">
            <span>REST-API</span>
        </div>
        <div class="skills">
            <img src="../../../assets/icons/scrum.png" alt="">
            <span>Scrum</span>
        </div>
    </div>

</section>