section {
    height: 695px;
    width: 100%;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 96px;
  
    .skills-layout {
      display: grid;
      grid-template-columns: 1fr 1fr; /* linke & rechte Spalte */
      align-items: start;
      gap: 96px;
      max-width: 1440px;
      width: 100%;
    }
  
    .skills-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      h3 {
        font-family: var(--font-karla);
        font-weight: 500;
        font-size: 24px;
        color: var(--color-main-green);
      }
  
      .skills-set-container {
        max-width: 520px;
        border-radius: 30px;
        border: 1px solid var(--color-main-green);
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background: radial-gradient(circle, #08463B4D 30%, #1C1C1C 100%);
  
        h2 {
          font-family: var(--font-fira);
          font-weight: 700;
          font-size: 64px;
          color: var(--color-main-green);
        }
  
        span {
          font-family: var(--font-karla);
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          text-align: justify;
          color: #fff;
        }
  
        .btn-contact-container {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  
    .skills-overview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 48px 72px;
      justify-items: center;
      max-width: 632px;
      height: 428px;
      padding-top: 48px;
  
      .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
  
        img {
          width: 60px;
          height: 60px;
          object-fit: contain;
        }
  
        span {
          font-family: var(--font-fira);
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: #fff;
        }
      }
    }
  }
  