section {
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    padding-top: 8rem;
    padding-bottom: 4rem;

    .main-content-wrapper {
        margin-inline: auto;
        padding-inline: 96px;
        max-width: 1440px;
        width: 100%;
        height: 126px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-info-fullname-container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-bottom: 12px;

            .logo-container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                height: 48px;
                cursor: pointer;

                .letter-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0;
                    line-height: 1;
                }

                .firstNameLetter,
                .lastNameLetter {
                    font-family: var(--font-fira);
                    color: var(--color-main-green);
                    font-size: 42px;
                    font-weight: 700;
                    line-height: 1;
                    padding: 0;
                    margin: 0;
                    display: block;
                }

                .firstNameLetter {
                    transform: rotate(90deg);
                    display: block;
                    margin-bottom: -10px;
                }

                .lastNameLetter {
                    margin-top: -8px;
                }

                .fullname-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 120px;
                    padding-top: 8px;

                    span {
                        text-decoration: none;
                        font-family: var(--font-fira);
                        font-weight: 700;
                        font-style: bold;
                        font-size: 24px;
                        color: #FFFFFF;
                        line-height: 120%;
                    }
                }

                &:hover .firstNameLetter,
                &:hover .lastNameLetter {
                    color: transparent;
                    -webkit-text-stroke: 1px var(--color-main-green); 
                }

                &:hover .fullname-container span {
                    color: transparent; 
                    -webkit-text-stroke: 1px #FFFFFF; 
                }
            }

            .info-container {
                display: flex;
                flex-direction: column;
                width: 125px;
                height: 46px;
                gap: 8px;

                span {
                    text-decoration: none;
                    font-family: var(--font-karla);
                    font-weight: 400;
                    font-size: 16px;
                    color: #FFFFFF;
                    line-height: 120%;
                    white-space: nowrap;
                }

            }

        }

        .copyrights {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 22px;

            span {
                font-family: var(--font-fira);
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: var(--color-main-green);
                white-space: nowrap;
            }
        }

        .links {
            width: 88px;
            height: 100px;


            nav {
                display: flex;
                gap: 8px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 8px; 
                    text-decoration: none;
                    font-family: var(--font-karla);
                    font-weight: 400;
                    font-size: 16px;
                    color: #FFFFFF;
                    line-height: 120%;
                    white-space: nowrap;
                    cursor: pointer;
                }

                a:hover {
                    color: var(--color-main-green);
                }

                a::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--color-main-green);
                    opacity: 0; 
                    transition: opacity 0.3s ease;
                }
                
                a:hover::before {
                    opacity: 1;
                }
            }


        }


    }
}