<section>
    <div class="main-content-wrapper">
        <div class="logo-info-fullname-container">
            <div class="logo-container">
                <div class="letter-container">
                    <span class="firstNameLetter">A</span>
                    <span class="lastNameLetter">S</span>
                </div>
                <div class="fullname-container">
                    <span>Alexander Schöfer</span>
                </div>
            </div>
            <div class="info-container">
                <span>Web Developer</span>
                <span>Munich Germany</span>
            </div>
        </div>
        <div class="copyrights">
            <span>© Alexander Schöfer 2025</span>
        </div>
        <div class="links">
            <nav>
                <a href="https://github.com/alexschoefer" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/alexander-schöfer-379352161/" target="_blank">LinkedIn</a>
                <a href="mailto:">Email</a>
                <a href="imprint">Legal Notice</a>
            </nav>
        </div>
    </div>
</section>
