<section>
    <div class="main-content-wrapper">
        <div class="arrow-container">
            <a href="#footer">
                <img src="./assets/icons/arrow_back.png" alt="arrow-back">
            </a>
        </div>
        <div class="headline-container">
            <h1>{{'IMPRINT.HEADLINE' | translate}}</h1>
        </div>
        <div class="legal-notice-content">
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.TITLE' | translate}}</h2>
                <ul>
                    <li>Alexander Schöfer</li>
                    <li>Moosstraße 1</li>
                    <li>85391 Allershausen</li>
                </ul>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.SECTION_CONTACT' | translate}}</h2>
                <span>Email: <span class="highlight-word">contact&#64;alexander-schoefer.de</span></span>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.ACCEPTANCE_TITLE' | translate}}</h2>
                <span>{{'IMPRINT.ACCEPTANCE_TEXT1' | translate}} <span class="highlight-word">Portfolio</span>
                    (Product), {{'IMPRINT.ACCEPTANCE_TEXT2' | translate}}</span>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.SCOPE_TITLE' | translate}}</h2>
                <span><span class="highlight-word">Portfolio</span> has been developed as part of a student group
                    project in a web development bootcamp at
                    the <span class="highlight-word">Developer Akademie GmbH</span>. {{'IMPRINT.SCOPE_TEXT2' |
                    translate}}. <br> <br>
                    {{'IMPRINT.SCOPE_TEXT3' | translate}} <span class="highlight-word">Portfolio
                    </span>{{'IMPRINT.SCOPE_TEXT4' | translate}} <span class="highlight-word">Developer Akademie
                        GmbH</span>. {{'IMPRINT.SCOPE_TEXT5' | translate}}
                </span>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.PROPRIETARY_TITLE' | translate}}</h2>
                <span>{{'IMPRINT.PROPRIETARY_TEXT1' | translate}} <span class="highlight-word">Developer Akademie
                        GmbH</span>, {{'IMPRINT.PROPRIETARY_TEXT2' | translate}} <span
                        class="highlight-word">Portfolio</span>{{'IMPRINT.PROPRIETARY_TEXT3' | translate}} </span>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.USAGE_TITLE' | translate}}</h2>
                <span><span class="highlight-word">Portfolio</span> {{'IMPRINT.USAGE_TEXT1' | translate}} <span
                        class="highlight-word">Portfolio</span> {{'IMPRINT.USAGE_TEXT2' | translate}} <span
                        class="highlight-word">Portfolio</span>.</span>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.DISCLAIMER_TITLE' | translate}}</h2>
                <span><span class="highlight-word">Portfolio</span> {{'IMPRINT.DISCLAIMER_TEXT1' | translate}} <span
                        class="highlight-word">Developer Akademie GmbH</span>, {{'IMPRINT.DISCLAIMER_TEXT2' |
                    translate}} <span class="highlight-word">Portfolio</span>.</span>
            </div>
            <div class="legal-notice-point">
                <h2>{{'IMPRINT.INDEMNITY_TITLE' | translate}}</h2>
                <span>{{'IMPRINT.INDEMNITY_TEXT1' | translate}} <span class="highlight-word">Developer Akademie GmbH</span>,
                    {{'IMPRINT.INDEMNITY_TEXT2' | translate}} <br>
                    <br>
                    {{'IMPRINT.INDEMNITY_TEXT3' | translate}} <span class="highlight-word">contact&#64;alexander-schoefer.de</span>
                    <br>
                    <br>
                    {{'IMPRINT.INDEMNITY_TEXT4' | translate}} 25, 2025</span>
                <br>
            </div>
        </div>
    </div>
</section>