<section>
    <div class="main-content-wrapper">
        <div class="references-container">
            <div class="references-headline-container">
                <h3>What my colleagues say about me</h3>
            </div>
            <!-- Comment-Box -->
            <div class="comment-wrapper">
                <div class="comment-container" [style.transform]="'translateX(' + getTranslateX() + 'px)'">
                    <div *ngFor="let comment of comments; let i = index" class="comment"
                        [ngClass]="{'comment-current': isCurrent(i)}">
                        <div *ngIf="isCurrent(i)" class="quotes">
                            <img src="../../../assets/icons/quotes.png" alt="quotes">
                        </div>
                        <span>{{ comment.text }}</span>
                        <div *ngIf="isCurrent(i)" class="comment-author-container">
                            <div class="comment-line"></div>
                            <span>{{ comment.author }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Arrow-Box -->
            <div class="arrow-container">
                <button class="arrow-btn back" (click)="preComment()">
                    <img class="arrow-img" src="../../../assets/icons/arrow_back.png" alt="arrow-back" />
                </button>
                <div *ngFor="let comment of comments; let i = index" class="point"
                    [ngClass]="{'active-point': currentActiveComment === i}">
                </div>
                <button class="arrow-btn forward" (click)="nextComment()">
                    <img class="arrow-img" src="../../../assets/icons/arrow_forward.png" alt="arrow-forward" />
                </button>
            </div>
        </div>
    </div>
</section>