section {
  height: auto;
  width: 100%;
  background: #1c1c1c;
  padding-top: 6rem !important;
  padding-bottom: 6rem;
  position: relative;

  .main-content-wrapper {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding-inline: 96px;
    max-width: 1440px;
    width: 100%;
    gap: 48px;
    overflow-x: hidden;

    .references-headline-container {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 595px;
      height: auto;

      h3 {
        font-family: var(--font-fira);
        font-weight: 700;
        font-style: bold;
        font-size: 32px;
        line-height: 100%;
        color: var(--color-main-green);
        white-space: nowrap;
      }
    }
  }
}

.arrow-container {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .arrow-btn {
    background: none;
    border: none;

    &.back:hover img {
      content: url("../../../assets/icons/arrow_back_hover.png");
    }

    &.forward:hover img {
      content: url("../../../assets/icons/arrow_forward_hover.png");
    }
  }

  .arrow-img {
    width: 36px;
    height: 36px;
    background-image: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }

  .active-point {
    background-color: var(--color-main-green);
  }
}

.comment {
  flex-shrink: 0;
  width: 632px;
  height: 248px;
  border-radius: 32px;
  border: 1px solid var(--color-main-green);
  padding: 48px 40px;
  background-color: #3dcfb61a;
  opacity: 0.6;
  transition: transform 0.4s ease, opacity 0.4s ease;

  span {
    font-family: var(--font-karla);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

.comment-current {
  position: relative;
  flex-shrink: 0;
  width: 632px;
  height: auto;
  border-radius: 32px;
  border: 1px solid var(--color-main-green);
  padding: 48px 40px;
  background-color: #3dcfb64d;
  z-index: 2;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s ease, opacity 0.4s ease;

  span {
    font-family: var(--font-karla);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

.references-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.comment-wrapper {
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
}

.comment:not(.comment-current) {
  transform: scale(0.9);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.quotes {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% - 365px);
  transform: translateY(-50%);
  width: 90px;
  height: 64px;
  z-index: 999;
}

.comment-current .quotes img {
  width: 100%;
  height: auto;
  display: block;
}

.comment-author-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 16px;
  width: 552px;
  height: 22px;

  div {
    width: 335px;
    height: 0;
    border-radius: 32px;
    border: 1px solid #FFFFFF;
  }

  span {
    font-family: var(--font-karla);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
  }
}

/* ------------------------- Media Queries ------------------------- */

@media (max-width: 1180px) {
  .main-content-wrapper {
    padding-inline: 64px;
    gap: 40px;
  }

  .references-container {
    width: 100%;
    max-width: 100%;
    gap: 40px;
  }

  .references-headline-container {
    width: 100%;

    h3 {
      font-size: 28px;
      white-space: normal;
      text-align: center;
    }
  }

  .comment,
  .comment-current {
    width: 100%;
    max-width: 520px;
    padding: 40px 32px;
  }

  .quotes {
    left: 24px;
    top: 24px;
    width: 80px;
  }

  .comment-author-container {
    padding-top: 80px;

    span {
      font-size: 16px;
    }

    div {
      width: 120px;
    }
  }

  .arrow-container {
    gap: 16px;

    .arrow-img {
      width: 32px;
      height: 32px;
    }

    .point {
      width: 7px;
      height: 7px;
    }
  }
}

@media (max-width: 1024px) {
  .comment-container {
    justify-content: center;
    transform: none;
  }

  .comment:not(.comment-current) {
    display: none;
  }

  .comment-current {
    margin: 0 auto;
  }

  .comment-current .quotes {
    left: 8px !important;
    top: 35px !important;
    width: 48px;
  }
}

@media (min-width: 1025px) {
  .comment-container {
    display: flex;
    gap: 32px;
    transition: transform 0.5s ease;
  }

  .comment-current {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }

  .comment:not(.comment-current) {
    transform: scale(0.9);
    opacity: 0.6;
    z-index: 1;
    display: block;
  }
}


@media (max-width: 820px) {

  section {
    padding-top: 0;
  }

  .main-content-wrapper {
    padding-inline: 0;
    gap: 32px;
  }

  .references-container {
    width: 100%;
    max-width: 100%;
    gap: 32px;
  }

  .references-headline-container h3 {
    font-size: 24px !important;
    white-space: normal !important;
    text-align: center;
  }

  .comment-current .quotes {
      position: absolute;
      top: -8px !important;
      left: -2px !important;
      transform: none !important;
      width: 36px !important;
      height: auto;
      z-index: 99;
    }

  .comment,
  .comment-current {
    width: 100%;
    max-width: 420px;
    padding: 32px 24px;
  }

  .comment-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    transition: transform 0.5s ease;
    transform: none !important;
  }

  .comment:not(.comment-current) {
    display: none;
  }

  .comment-current {
    display: block;
    margin: 0 auto;
    height: auto;
  }

  .comment-author-container {
    justify-content: start;
  }

  .comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
  }

  .comment-current .quotes {
    left: 10px;
    top: -2px;
    position: relative;
    width: 72px;
  }

  .comment-author-container {
    padding-top: 72px;

    span {
      font-size: 15px;
    }
  }

  .arrow-container {
    width: 100%;
    gap: 14px;
  }
}

@media (max-width: 600px) {
  .main-content-wrapper {
    padding-inline: 24px;
  }

  .references-container {
    width: 100%;
    gap: 28px;
  }

  .references-headline-container h3 {
    font-size: 24px !important;
  }

  .comment,
  .comment-current {
    width: 100%;
    padding: 32px 28px;
  }

  .comment-current .quotes {
    left: -2px !important;
    top: 2px !important;
    width: 24px;
  }

  .comment-author-container {
    align-items: center;
    padding-top: 56px;
    width: auto;

    span {
      font-size: 14px;
    }
  }

  .arrow-container {
    gap: 10px;

    .arrow-img {
      width: 28px;
      height: 28px;
    }

    .point {
      width: 6px;
      height: 6px;
    }
  }
}

@media (max-width: 480px) {
  .main-content-wrapper {
    padding-inline: 12px !important;
  }

  .references-container {
    width: 100% !important;
    gap: 24px;
  }

  .references-headline-container {
    width: 100% !important;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;

    h3 {
      font-size: 24px !important;
      white-space: normal !important;
      text-align: center;
      line-height: 100%;
      word-break: break-word;
    }
  }

  .comment {
    width: 100%;
    padding: 24px 16px;
    border-radius: 24px;
  }

  .comment-current {
    max-width: 320px;
    height: auto;
    padding-inline: 5px;
  }

  .comment-current span {
    font-size: 16px !important;
  }

  .comment-current .quotes {
    position: absolute;
    top: -8px;
    left: -10px;
    transform: none !important;
    width: 48px;
    height: auto;
    z-index: 99;
  }

  .comment-current .quotes img {
    display: block;
    width: 100%;
    height: auto;
    left: 10px;
    top: -2px;
    position: relative;
  }


  .comment-author-container {
    padding-top: 48px;

    span {
      font-size: 16px !important;
    }
  }

  .arrow-container {
    gap: 8px;

    .arrow-img {
      width: 24px;
      height: 24px;
    }

    .point {
      width: 5px;
      height: 5px;
    }
  }

  .comment-wrapper {
    justify-content: center;
    overflow-x: hidden;
  }

  .comment-container {
    gap: 16px;
    justify-content: center;
  }

  .comment:not(.comment-current) {
    transform: scale(0.9);
    opacity: 0.6;
  }

  .comment-current {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

@media (max-width: 320px) {
  .main-content-wrapper {
    padding-inline: 8px;
  }

  .references-container {
    width: 100%;
    gap: 16px;
  }

  .references-headline-container h3 {
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
    text-align: center;
    word-break: break-word;
  }

  .comment,
  .comment-current {
    width: 100%;
    max-width: 288px;
    border-radius: 20px;
    height: auto;
  }

  .quotes {
    left: 8px;
    top: 0;
    width: 40px;
  }

  .comment-author-container {
    padding-top: 36px;

    span {
      font-size: 13px;
    }
  }

  .arrow-container {
    gap: 6px;

    .arrow-img {
      width: 24px;
      height: 24px;
    }

    .point {
      width: 5px;
      height: 5px;
    }
  }

  .comment-wrapper,
  .comment-container {
    justify-content: center;
    overflow-x: hidden;
    gap: 12px;
    padding: 10px;
  }

  .comment:not(.comment-current) {
    transform: scale(0.9);
    opacity: 0.6;
  }

  .comment-current {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }

  .comment-current span {
    font-size: 16px !important;
  }
}