<section>
    <div class="main-content-wrapper">
        <div class="references-container">
            <div class="references-headline-container">
                <h3>What my colleagues say about me</h3>
            </div>

            <div class="comment-wrapper">
                <div class="comment-container">
                    <div class="comment">
                        <span>Comment left</span>
                    </div>
                    <div class="comment-current">
                        <div class="quotes">
                            <img src="../../../assets/icons/quotes.png" alt="quotes">
                        </div>
                        <span>Lukas has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project.</span>
                        <div class="comment-author-container">
                            <div class="comment-line"></div>
                            <span>H.Janisch - Team Partner</span>
                        </div>
                    </div>
                    <div class="comment">
                        <span>Comment right</span>
                    </div>
                </div>
            </div>

            <div class="arrow-container">
                <button>
                    <img class="arrow-img" src="../../../assets/icons/arrow_back.png" alt="arrow-back" />
                </button>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <button>
                    <img class="arrow-img" src="../../../assets/icons/arrow_forward.png" alt="arrow-forward" />
                </button>
            </div>
        </div>
    </div>
</section>