section {
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    padding-top: 9rem;
    position: relative;

    .main-content-wrapper {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        padding-inline: 96px;
        max-width: 1440px;
        width: 100%;
        gap: 48px;

        .references-headline-container {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 595px;
            height: 42px;

            h3 {
                font-family: var(--font-fira);
                font-weight: 700;
                font-style: bold;
                font-size: 32px;
                line-height: 100%;
                color: var(--color-main-green);
                white-space: nowrap;
            }
        }
    }
}

.arrow-container {
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .arrow-btn {
        background: none;
        border: none;

        &.back:hover img {
            content: url("../../../assets/icons/arrow_back_hover.png");
        }

        &.forward:hover img {
            content: url("../../../assets/icons/arrow_forward_hover.png");
        }
    }

    .arrow-img {
        width: 36px;
        height: 36px;
        background-image: none;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .point {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8px;
        height: 8px;
        margin: 5px;
        background-color: #FFFFFF;
        border-radius: 50%;
    }

    .active-point {
        background-color: var(--color-main-green);
    }
}

.comment {
    flex-shrink: 0;
    width: 632px;
    height: 248px;
    border-radius: 32px;
    border: 1px solid var(--color-main-green);
    padding: 48px 40px;
    background-color: #3dcfb61a;
    opacity: 0.6;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.comment-current {
    position: relative;
    flex-shrink: 0;
    width: 632px;
    height: 274px;
    border-radius: 32px;
    border: 1px solid var(--color-main-green);
    padding: 48px 40px;
    background-color: #3dcfb64d;
    z-index: 2;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s ease, opacity 0.4s ease;

    span {
        font-family: var(--font-karla);
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

.references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 1440px;
}

.comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.comment-wrapper {
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.comment:not(.comment-current) {
    transform: scale(0.9);
    transition: transform 0.4s ease, opacity 0.4s ease;
}


.quotes {
    position: absolute;
    top: calc(50% - 105px);
    left: calc(50% - 365px);
    transform: translateY(-50%);
    width: 90px;
    height: 64px;
    z-index: 999;
}

.comment-current .quotes img {
    width: 100%;
    height: auto;
    display: block;
}

.comment-author-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 16px;
    width: 552px;
    height: 22px;

    div {
        width: 335px;
        height: 0;
        border-radius: 32px;
        border: 1px solid #FFFFFF;
    }

    span {
        font-family: var(--font-karla);
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #FFFFFF;
    }
}