section {
    height: 100%;
    width: 100%;
    background: #1c1c1c;
    padding-top: 9rem;

    .main-content-wrapper {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        padding-inline: 96px;
        max-width: 1440px;
        width: 100%;
        height: 452px;
        gap: 48px;

        .references-headline-container {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 595px;
            height: 42px;

            h3 {
                font-family: var(--font-fira);
                font-weight: 700;
                font-style: bold;
                font-size: 32px;
                line-height: 100%;
                color: var(--color-main-green);
                white-space: nowrap;
            }
        }
    }
}