<section class="marquee-section">
  <div class="marquee-content-wrapper">
    <div class="marquee-track">
      <!-- 1. Set -->
      <div class="marquee-items">
        <ng-container *ngFor="let item of marqueeItems">
          <img src="./assets/icons/radio_button.png" alt="dot" />
          <span>{{ item }}</span>
        </ng-container>
      </div>

      <!-- 2. identisches Set für endlosen Loop -->
      <div class="marquee-items">
        <ng-container *ngFor="let item of marqueeItems">
          <img src="./assets/icons/radio_button.png" alt="dot" />
          <span>{{ item }}</span>
        </ng-container>
      </div>
    </div>
  </div>
</section>
