<section>
  <div class="marquee-content-wrapper">
    <div class="marquee-track">
      <div class="marquee-items">
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Available for remote work</span>
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Frontend Developer</span>
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Based in Munich</span>
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Open to work</span>
      </div>

      <!-- 👇 exakte Kopie! -->
      <div class="marquee-items">
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Available for remote work</span>
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Frontend Developer</span>
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Based in Munich</span>
        <img src="../../../../assets/icons/radio_button.png" alt="">
        <span>Open to work</span>
      </div>
    </div>
  </div>
</section>
