:host {
  display: block;
}

.marquee-section {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 62px;
  max-width: 1440px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 8;
  background: #363c3b;
  transform: rotate(-3deg);
  transform-origin: bottom left;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.65;
}

.marquee-content-wrapper {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-marquee 20s linear infinite;
}

.marquee-items {
  display: flex;
  align-items: center;
  gap: 56px;
  padding-right: 56px;
  white-space: nowrap;

  img {
    width: 8px;
    height: 8px;
  }

  span {
    font-family: var(--font-karla);
    font-size: 32px;
    font-weight: 400;
    color: var(--color-main-green);
    pointer-events: auto;
  }
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}



@media (max-width: 1180px) {
  .marquee-items {
    gap: 40px;

    span {
      font-size: 24px;
    }
  }
}

@media (max-width: 820px) {
  .marquee-items {
    gap: 32px;

    span {
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .marquee-items {
    gap: 24px;

    span {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  .marquee-items {
    gap: 16px;

    span {
      font-size: 18px;
    }
  }
}