.marquee-content-wrapper {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 62px;
    background: #363c3b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: rotate(-3deg);
    transform-origin: bottom left;
    z-index: 10;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.65;

    .marquee-track {
        display: flex;
        width: max-content;
        animation: scroll-marquee 20s linear infinite;

        .marquee-items {
            display: flex;
            align-items: center;
            gap: 56px;
            white-space: nowrap;
            padding-right: 56px;

            img {
                width: 8px;
                height: 8px;
            }

            span {
                font-family: var(--font-karla);
                font-size: 32px;
                font-weight: 400;
                line-height: 120%;
                color: var(--color-main-green);
            }
        }
    }
}

@keyframes scroll-marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Tablet Landscape ≤ 1180px */
@media (max-width: 1180px) {
    .marquee-items {
      gap: 40px;
      span {
        font-size: 24px;
      }
    }
  }
  
  /* Tablet Portrait ≤ 820px */
  @media (max-width: 820px) {
    .marquee-items {
      gap: 32px;
      span {
        font-size: 20px;
      }
    }
  }
  
  /* Mobile Large ≤ 600px */
  @media (max-width: 600px) {
    .marquee-items {
      gap: 24px;
      span {
        font-size: 18px;
      }
    }
  }
  
  /* Mobile Small ≤ 480px */
  @media (max-width: 480px) {
    .marquee-items {
      gap: 16px;
      span {
        font-size: 16px;
      }
    }
  }
  
  /* Mobile Mini ≤ 320px */
  @media (max-width: 320px) {
    .marquee-items {
      gap: 12px;
      span {
        font-size: 14px;
      }
    }
  }
  